<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Photo Gallery </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab *ngIf="!mostrarImagenes" vertical="top" horizontal="start" slot="fixed" style="top: 20px;">
    <ion-fab-button color="tertiary" (click)="mostrarImagenes = true">
      <ion-icon name="image"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-grid *ngIf="mostrarImagenes">
    <ion-row>
      <ion-col
        size="6"
        *ngFor="let photo of photoService.photos; index as position"
      >
        <ion-card>
          <img [src]="photo.webviewPath" />
          <ion-card-header>
            <ion-card-subtitle>{{photo.filepath}}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button id="camera-fab">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-popover trigger="camera-fab" triggerAction="click" [showBackdrop]="true">
    <ng-template>
      <ion-content class="ion-padding">
        <ion-button expand="block" (click)="addPhotoToGallery(100)" color="light">Tomar foto (100%)</ion-button>
        <ion-button expand="block" (click)="addPhotoToGallery(50)" color="light">Tomar foto (50%)</ion-button>
      </ion-content>
    </ng-template>
  </ion-popover>
</ion-content>
